## QUESTION 1

In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#Sort the list and find the min and max age
for i in range(len(ages)):
    for j in range(len(ages)-1):
        if ages[j] > ages[j+1]:
            ages[j], ages[j+1] = ages[j+1], ages[j]
print("Ages :",ages)

Ages : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [3]:
min_age = ages[0]
max_age = ages[0]
for i in range(len(ages)):
    if ages[i] < min_age:
        min_age = ages[i]
    elif ages[i] > max_age:
        max_age = ages[i]

In [4]:
print("Minimum age: ", min_age)
print("Maximum age: ", max_age)

Minimum age:  19
Maximum age:  26

In [5]:
#Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [6]:
#Find the median age (one middle item or two middle items divided by two)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
if len(ages) % 2 == 0:
    median = (ages[len(ages) // 2] + ages[len(ages) // 2 - 1]) / 2
else:
    median = ages[len(ages) // 2]
print("Median age: ", median)

Median age:  24.0

In [7]:
#Find the average age (sum of all items divided by their number)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sum_ages = sum(ages)
average_age = sum_ages / len(ages)
print("Average age: ", average_age)

Average age:  22.8

In [8]:
#Find the range of the ages (max minus min)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
min_age = min(ages)
max_age = max(ages)
range_age = max_age - min_age
print("Range of ages: ", range_age)

Range of ages:  7

## Question 2

In [9]:
#Create an empty dictionary called dog
dog = {}
#Add name, color, breed, legs, age to the dog dictionary
dog["name"] = "JHONNY"
dog["color"] = "BROWN"
dog["breed"] = "GERMAN_SHEPPERD"
dog["legs"] = "FOUR"
dog["age"] = "8"
#Create a student dictionary and add first_name, last_name, gender, age, marital status,
#skills, country, city and address as keys for the dictionary
student = {}
student["first_name"] = "vijitha"
student["last_name"] = "gajavelli"
student["gender"] = "female"
student["age"] = "26"
student["marital_status"] = "single"
student["skills"] = []
student["country"] = "India"
student["city"] = "Hyderabad"
student["address"] = "Suryapet"
#Get the length of the student dictionary
print(len(student))
#Get the value of skills and check the data type, it should be a list
print(type(student["skills"]))
#Modify the skills values by adding one or two skills
student["skills"].append("machinelearning")
student["skills"].append("datascience")
#Get the dictionary keys as a list
print(list(student.keys()))
#Get the dictionary values as a list
print(list(student.values()))

9
<class 'list'>
['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
['vijitha', 'gajavelli', 'female', '26', 'single', ['machinelearning', 'datascience'], 'India', 'Hyderabad', 'Suryapet']

## Question 3:

In [10]:
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sisters = ("poojitha", "sathwika", "Sindhu")
brothers = ("Ram", "Munna", "Bharghav")
#Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
#How many siblings do you have?
print("I have", len(siblings), "siblings.")
#Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members = siblings + ("Venkateshwarlu", "Vanaja")
print("My family members are:", family_members)

I have 6 siblings.
My family members are: ('poojitha', 'sathwika', 'Sindhu', 'Ram', 'Munna', 'Bharghav', 'Venkateshwarlu', 'Vanaja')

## Question 4:

In [11]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
print(len(it_companies))

# Add 'Twitter' to it_companies
it_companies.add("Twitter")

# Insert multiple IT companies at once to the set it_companies
it_companies.update(["Tesla", "Spotify", "Uber"])

# Remove one of the companies from the set it_companies
it_companies.remove("IBM")

# What is the difference between remove and discard
# remove() raises an error if the element is not found in the set, 
# while discard() does not raise an error if the element is not found in the set.

# Join A and B
print(A.union(B))

# Find A intersection B
print(A.intersection(B))

# Is A subset of B
print(A.issubset(B))

# Are A and B disjoint sets
print(A.isdisjoint(B))

# Join A with B and B with A
print("Joining A with B : ",A.union(B))
print("Joining B with A : ",B.union(A))

# What is the symmetric difference between A and B
print("symmetric_difference : ",A.symmetric_difference(B))

# Delete the sets completely
del it_companies
del A
del B

# Convert the ages to a set and compare the length of the list and the set.
ages_set = set(age)
print(len(age))
print(len(ages_set))

7
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
Joining A with B :  {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A :  {19, 20, 22, 24, 25, 26, 27, 28}
symmetric_difference :  {27, 28}
8
5

## QUESTION 5

In [12]:
import math

# The radius of a circle is 30 meters.
radius = 30

# Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
area_of_circle = math.pi * radius ** 2
print("Area of circle is:", area_of_circle)

# Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
circum_of_circle = 2 * math.pi * radius
print("Circumference of circle is:", circum_of_circle)

# Take radius as user input and calculate the area.
radius = float(input("Enter the radius of the circle: "))
area_of_circle = math.pi * radius ** 2
print("Area of circle is:", area_of_circle)

Area of circle is: 2827.4333882308138
Circumference of circle is: 188.49555921538757
Enter the radius of the circle: 40
Area of circle is: 5026.548245743669

## QUESTION 6

In [13]:
sentence = "I am a teacher and I love to inspire and teach people"

# Using the split() method to get a list of words
words = sentence.split()

# Using set() to get the unique words
unique_words = set(words)

# Finding the length of the set of unique words
print("unique words:", len(unique_words))

unique words: 10

## QUESTION 7

In [14]:

print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

## QUESTION 8

In [15]:
radius = 10
area = 3.14 * radius ** 2
print(f"The area of a circle with radius {radius} is {area} meters square.")

The area of a circle with radius 10 is 314.0 meters square.

## QUESTION 9

In [17]:
# Read input from user
n = int(input("Enter the number of students: "))

# Create an empty list to store the weights in pounds
weights_lbs = []

# Get the weights of students in pounds
for i in range(n):
    weight = float(input("Enter the weight of student {} in pounds: ".format(i+1)))
    weights_lbs.append(weight)

# Create an empty list to store the weights in kilograms
weights_kg = []

# Convert the weights from pounds to kilograms
for weight in weights_lbs:
    weight_kg = weight * 0.453592
    weights_kg.append(weight_kg)

print("Weights in pounds:", weights_lbs)
print("Weights in kilograms:", weights_kg)

Enter the number of students: 3
Enter the weight of student 1 in pounds: 110
Enter the weight of student 2 in pounds: 120
Enter the weight of student 3 in pounds: 130
Weights in pounds: [110.0, 120.0, 130.0]
Weights in kilograms: [49.89512, 54.431039999999996, 58.96696]